# Ignore node_modules folder
node_modules/

ignore reports folders
test-results/
playwright-report/

temporary files folder
tmp/
.pdf
# Ignore environment files
.env
.tar

# Ignore logs
*.log

# Ignore compiled files
*.class

# Ignore system files
.DS_Store
Thumbs.db
